<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="/stylesheets/annotorious.css" />

    <script type="text/javascript" src="/javascripts/annotorious.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
